* {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.content {
    margin-top: 5%;
}

.product-item h2 a:hover {
    text-decoration: none;
}

.product-item img {
    width: 100%;
}

.categories-list li {
    display: inline-block;
}

.categories-list li a {
    color: #FFF;
}

.btn {
    border-radius: 0;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu li a{
    padding: 10px;
}

.product-list .product-item img {
    display: block;
    width: 190px;
    height: 400px;
    margin: 0 auto;
}

.back_link {
    margin: 0 0 20px 15px;
}