{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="categories-list">
           {% for category in categories %}
               <li><a class="btn btn-primary" href="{{ path('product_category_list', {'category': category.name}) }}">{{ category.name }}</a></li>
           {% endfor %}
        </ul>
        <ul class="container product-list clearfix">
            {% for product in products %}
                <li class="col-sm-3 product-item">
                    <img src="/uploads/images/products/{{ product.imageName }}" alt="">
                    <h2 class="text-center"><a href="{{ path('product_view', {'name': product.name}) }}">{{ product.name }}</a></h2>
                </li>
            {% endfor %}
        </ul>
        <div class="navigation text-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}