{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <h2 class="text-center">Change password</h2>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="form-group">
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'form.password'}}) }}
            {% for errorItem in form.current_password.vars.errors %}
                <label class="control-label has-error" for="{{ form.current_password.vars.id }}">{{ errorItem.message|trans }}</label>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'form.password_new'}}) }}
            {% for errorItem in form.plainPassword.first.vars.errors %}
                <label class="control-label has-error" for="{{ form.plainPassword.vars.id }}">{{ errorItem.message|trans }}</label>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'form.password_repeat'}}) }}
        </div>
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>
