{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <h2 class="text-center">Registration form</h2>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="form-group">
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'form.username'}}) }}
            {% for errorItem in form.username.vars.errors %}
                <label class="control-label has-error" for="{{ form.username.vars.id }}">{{ errorItem.message|trans }}</label>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'form.email'}}) }}
            {% for errorItem in form.email.vars.errors %}
                <label class="control-label has-error" for="{{ form.email.vars.id }}">{{ errorItem.message|trans }}</label>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'form.password'}}) }}
            {% for errorItem in form.plainPassword.first.vars.errors %}
                <label class="control-label has-error" for="{{ form.plainPassword.vars.id }}">{{ errorItem.message|trans }}</label>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'form.password_repeat'}}) }}
            {% for errorItem in form.plainPassword.first.vars.errors %}
                <label class="control-label has-error" for="{{ form.plainPassword.vars.id }}">{{ errorItem.message|trans }}</label>
            {% endfor %}
        </div>
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>
