{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
    <h2 class="text-center">Login form</h2>
    <div class="col-lg-6 col-lg-offset-3">
        {% if error %}
            <div class="alert alert-danger">
                <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
            </div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control" name="_password" id="password" placeholder="Password" required="required">
            </div>

            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <div class="form-group">
                <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>